In [1]:
import pandas as pd

In [6]:
df= pd.read_csv("bookstore_inventory.csv")

In [7]:
df.head()

,month,from,to,sku,qty,unit_cost,unit_price,extended_cost,extended_retail,dataset
0,2019-01-01,YYC-WH,YYC-DT,BK1000,19,8.09,18.92,153.71,359.48,bookstore_inventory
1,2019-01-01,YYC-WH,YYC-NW,BK1000,10,8.09,18.92,80.90,189.20,bookstore_inventory
2,2019-01-01,YYC-WH,YYC-SE,BK1000,7,8.09,18.92,56.63,132.44,bookstore_inventory
3,2019-01-01,YYC-WH,YYC-DT,BK1001,21,10.75,24.49,225.75,514.29,bookstore_inventory
4,2019-01-01,YYC-WH,YYC-NW,BK1001,13,10.75,24.49,139.75,318.37,bookstore_inventory

In [9]:
df.shape

(21566, 10)

In [10]:
df.isna().sum()

month              0
from               0
to                 0
sku                0
qty                0
unit_cost          0
unit_price         0
extended_cost      0
extended_retail    0
dataset            0
dtype: int64

In [11]:
df.describe()

,qty,unit_cost,unit_price,extended_cost,extended_retail
count,21566.000000,21566.000000,21566.000000,21566.000000,21566.000000
mean,13.607020,12.380085,26.323480,168.395885,358.156324
std,6.483232,3.528916,7.857572,95.771328,206.848009
min,1.000000,6.080000,11.510000,6.270000,11.510000
25%,9.000000,9.120000,18.920000,98.100000,205.380000
50%,13.000000,13.110000,27.050000,150.100000,320.400000
75%,17.000000,15.360000,31.930000,219.167500,467.210000
max,52.000000,17.770000,42.690000,703.560000,1664.910000

In [13]:
def find_max(data):
    current_max = data[0]
    for i in data:
        if current_max < i : 
            current_max = i 
    return current_max

In [15]:
print(find_max(df["unit_price"]))

42.69

In [16]:
df1 = df.copy()

In [18]:
df1["tax"] = df1["extended_cost"].apply(lambda x : "20%" if x > 100 else "10%")
df1

,month,from,to,sku,qty,unit_cost,unit_price,extended_cost,extended_retail,dataset,tax
0,2019-01-01,YYC-WH,YYC-DT,BK1000,19,8.09,18.92,153.71,359.48,bookstore_inventory,20%
1,2019-01-01,YYC-WH,YYC-NW,BK1000,10,8.09,18.92,80.90,189.20,bookstore_inventory,10%
2,2019-01-01,YYC-WH,YYC-SE,BK1000,7,8.09,18.92,56.63,132.44,bookstore_inventory,10%
3,2019-01-01,YYC-WH,YYC-DT,BK1001,21,10.75,24.49,225.75,514.29,bookstore_inventory,20%
4,2019-01-01,YYC-WH,YYC-NW,BK1001,13,10.75,24.49,139.75,318.37,bookstore_inventory,20%
...,...,...,...,...,...,...,...,...,...,...,...
21561,2024-12-01,YYC-WH,YYC-NW,BK1098,16,9.88,21.53,158.08,344.48,bookstore_inventory,20%
21562,2024-12-01,YYC-WH,YYC-SE,BK1098,10,9.88,21.53,98.80,215.30,bookstore_inventory,10%
21563,2024-12-01,YYC-WH,YYC-DT,BK1099,22,11.86,27.23,260.92,599.06,bookstore_inventory,20%
21564,2024-12-01,YYC-WH,YYC-NW,BK1099,20,11.86,27.23,237.20,544.60,bookstore_inventory,20%
21565,2024-12-01,YYC-WH,YYC-SE,BK1099,17,11.86,27.23,201.62,462.91,bookstore_inventory,20%

In [26]:
# renaming the column name qty to quantity
df1 = df1.rename(columns={"qty":"quantity"})
df1

,month,from,to,sku,quantity,unit_cost,unit_price,extended_cost,extended_retail,dataset,tax
0,2019-01-01,YYC-WH,YYC-DT,BK1000,19,8.09,18.92,153.71,359.48,bookstore_inventory,20%
1,2019-01-01,YYC-WH,YYC-NW,BK1000,10,8.09,18.92,80.90,189.20,bookstore_inventory,10%
2,2019-01-01,YYC-WH,YYC-SE,BK1000,7,8.09,18.92,56.63,132.44,bookstore_inventory,10%
3,2019-01-01,YYC-WH,YYC-DT,BK1001,21,10.75,24.49,225.75,514.29,bookstore_inventory,20%
4,2019-01-01,YYC-WH,YYC-NW,BK1001,13,10.75,24.49,139.75,318.37,bookstore_inventory,20%
...,...,...,...,...,...,...,...,...,...,...,...
21561,2024-12-01,YYC-WH,YYC-NW,BK1098,16,9.88,21.53,158.08,344.48,bookstore_inventory,20%
21562,2024-12-01,YYC-WH,YYC-SE,BK1098,10,9.88,21.53,98.80,215.30,bookstore_inventory,10%
21563,2024-12-01,YYC-WH,YYC-DT,BK1099,22,11.86,27.23,260.92,599.06,bookstore_inventory,20%
21564,2024-12-01,YYC-WH,YYC-NW,BK1099,20,11.86,27.23,237.20,544.60,bookstore_inventory,20%
21565,2024-12-01,YYC-WH,YYC-SE,BK1099,17,11.86,27.23,201.62,462.91,bookstore_inventory,20%

In [30]:
df1.groupby("to")["extended_cost"].mean()

to
YYC-DT    227.344622
YYC-NW    151.330446
YYC-SE    126.376867
Name: extended_cost, dtype: float64

In [3]:
fitness_data = pd.read_csv("fitness_data_set.csv")

In [5]:
fitness_data.groupby("BMIcase")["BMI"].min()

BMIcase
mild thinness        17.003657
moderate thinness    16.003463
normal               18.506849
obese                30.010406
over weight          25.003624
sever thinness       13.099716
severe obese         21.706825
Name: BMI, dtype: float64

In [16]:
fitness_data.groupby("Gender")["BMI"].agg(["mean","min","max"])

             mean        min        max
Gender
Female  28.375526  15.465748  34.996928
Male    23.663860  13.099716  34.980389

In [17]:

fitness_data.groupby("BMIcase")["Weight"].aggregate(average_weight = "mean", minimum_weight= "min", maximum_weight = "max")

                   average_weight  minimum_weight  maximum_weight
BMIcase
mild thinness           59.064980       50.008511       71.858860
moderate thinness       56.979585       50.004559       65.898744
normal                  70.494357       50.022925       96.397099
obese                   91.988792       59.435805      109.986731
over weight             84.228659       50.105846      109.892615
sever thinness          53.880349       50.029306       61.437831
severe obese            96.008719       69.320886      109.947507

In [21]:
fitness_data.groupby("BMIcase").agg({
    "Weight":"mean",
    "Age": "max",
    "Height": "min"
})

                      Weight  Age    Height
BMIcase
mild thinness      59.064980   65  1.654560
moderate thinness  56.979585   65  1.726784
normal             70.494357   65  1.428939
obese              91.988792   65  1.392051
over weight        84.228659   65  1.391627
sever thinness     53.880349   65  1.774795
severe obese       96.008719   65  1.448963

In [24]:

fitness_data.groupby("BMIcase").agg(
    average_weight=("Weight","mean"),
    maximum_age=("Age","max"),
    minimum_height= ("Height","min")
)

                   average_weight  maximum_age  minimum_height
BMIcase
mild thinness           59.064980           65        1.654560
moderate thinness       56.979585           65        1.726784
normal                  70.494357           65        1.428939
obese                   91.988792           65        1.392051
over weight             84.228659           65        1.391627
sever thinness          53.880349           65        1.774795
severe obese            96.008719           65        1.448963